---
import CardDivider from "./CardDivider.astro";

const {
  title,
  subtitle,
  link,
  icon,
  iconName = "",
  iconSize = "medium",
  techList = [],
} = Astro.props;

const getIconPath = (iconName: string) =>
  iconName ? `/svg/${iconName}.svg` : null;

const sizeMap: Record<string, string> = {
  medium: "size-12",
  large: "size-26",
  larger: "size-20",
};
---

<div class="w-full">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between">
    <div class="flex-1">
      <a href={link}>
        <h1 class="page-header text-xl mb-2">
          {title}
        </h1>
      </a>
      <h2 class="font-semibold tracking-wide">
        {subtitle}
      </h2>
    </div>
    <!-- 
    {
      icon && (
        <div class="hidden lg:block shrink-0 size-20">
          <Image src={icon} alt={title} class={sizeMap[iconSize]} />
        </div>
      )
    }
    {
      iconName && !icon && (
        <div class="hidden lg:block shrink-0 size-20">
          <img
            src={getIconPath(iconName)}
            alt={title}
            class={sizeMap[iconSize]}
          />
        </div>
      )
    } -->
  </div>

  <div class="">
    <slot name="description" />
  </div>

  {
    techList.length > 0 && (
      <p class="font-semibold text-center tracking-wider md:text-lg text-accent dark:text-accent-dark">
        {techList.join(" • ")}
      </p>
    )
  }
</div>

<CardDivider />
