---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/font.css';
import '../styles/global.css';

import DancingLetters from '../assets/images/dancingLetters.png';
import EcoFootprint from '../assets/images/ecological_footprint_detail.png';
import ForroIcon from '../assets/images/forroIcon.png';
import HappySustainable from '../assets/images/happy&sustainable_detail.png';
import DesignCard from '../components/DesignCard.astro';
import DesignGardientCard from '../components/DesignGardientCard.astro';
import DesignTripCard from '../components/DesignTripCard.astro';
---

<Layout title="Other">
  <!-- <Divider id="viz" text="Visualizations" className="link-offset my-20" /> -->

  <!-- ECONOMIC INDICATORS  -->
  <Heading id="indicators" className="mt-20 mb-10" text="Economic Indicators" />
  <div class="grid grid-cols-1 md:grid-cols-12 gap-12">
    <DesignCard
      href="/design/eco_footprint"
      imagePath={EcoFootprint}
      imageAlt="Chart detail"
      heading="Ecological Footprint"
      text="Just two countries have high human development and a sustainable lifestyle."
    />
    <DesignCard
      href="/design/happy_and_sustainable"
      imagePath={HappySustainable}
      imageAlt="Chart detail"
      heading="Happy & Sustainable"
      text="Happiness score, emissions and more in one big bubble chart."
    />
  </div>

  <!-- DESIGN  -->
  <Heading id="design" className="link-offset mt-20 mb-10" text="DESIGN" />

  <div class="grid grid-cols-1 md:grid-cols-12 gap-12">
    <DesignGardientCard
      href="/design/css_gradients"
      gradientText="CSS Gradients"
      header="CSS Gradients"
      text="Exploration of CSS gradients with code. As a reference for myself and the accidental surfer."
    />
    <DesignCard
      href="/design/forrodacapita"
      imagePath={ForroIcon}
      imageAlt="Chart detail"
      objectFit="object-contain"
      heading="Forró Da Capita Graphics"
      text="Graphic Design for the finest Forró venue in the capital."
    />
    <DesignTripCard
      href="/design/dancing_letters"
      imagePath={DancingLetters}
      imageAlt="Dancing letters"
      heading="Dancing Letters"
      text="CSS can do beautiful things and letters were my first choice. Here are trippy letters and flickering lights along their code."
    />
  </div>
  <!-- <Divider id="writing" text="Writing" className="link-offset my-20" /> -->

  <!-- MODEL GALLERY 
    <Heading id="models" className="" text="Model Gallery" />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
        <ModelCard
            className="bg-amber-50"
            href="/model_gallery/toc_graph"
            title="TOC Graph"
            description="A graph view of the model gallery series. Models, theories and systems and their connections."
            tag="Systems"
            date="2024-03-15"
            hasGraph={true}
        />

        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/model"
            title="Model"
            description="What is a model anyway? About the merits and snares of model-building."
            tag="Model"
            date="2024-09-29"
            hasGraph={false}
        />

        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/schelling_segregation"
            title="Schelling's Segregation"
            description="Simulation of individual decisions leading to the emergence of segregation."
            tag="Model"
            date="2024-10-12"
            hasGraph={true}
        />

        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/linear_regression"
            title="Linear Regression"
            description="The mother of models. Constructs relationships between one output and one or more input variables."
            tag="Model"
            date="2024-11-17"
            hasGraph={true}
        />

        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/confusion_matrix"
            title="Confusion Matrix"
            description=" Fill in your false and true positives/negatives and see accuracy, precision, recall and more."
            tag="Model"
            date="2024-12-27"
            hasGraph={true}
        />

        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/logistic_growth"
            title="Logistic Growth"
            description="Inspired by Thomas Malthus model of population growth. Also known as sigmoid curve in statistics."
            tag="Model"
            date="2024-12-27"
            hasGraph={true}
        />
        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/logistic_map"
            title="Logistic Map"
            description="A simple modulation of the logistic growth model that produces phenomena like convergence or chaotic oscillations."
            tag="Model"
            date="2024-12-27"
            hasGraph={true}
        />
        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/normal_distribution"
            title="Normal Distribution"
            description="Natures preferred distribution."
            tag="Model"
            date="2024-12-27"
            hasGraph={true}
        />

        <ModelCard
            className="bg-blue-50"
            href="/model_gallery/supply_and_demand"
            title="Supply and Demand"
            description="The cornerstone of neoclassical economics."
            tag="Model"
            date="2024-12-27"
            hasGraph={true}
        />

        <!-- <div class="col-span-1 md:col-span-1 text-pretty">
                <a href="/model_gallery/corn_model">
                    <h1
                        class="font-literata text-lg uppercase text-primary  tracking-wide font-semibold mb-1">
                        Corn Model</h1>
                    <p class="text-wrap">Ricardo's three-factor economy.</p>
                </a>
            </div> 
    </div> -->
</Layout>
