---
import { Image } from 'astro:assets';
const {
  href,
  imagePath,
  imageAlt,
  heading,
  text,
  objectFit = "object-cover"
} = Astro.props;
---
<div class="w-full bg-tertiary/10">
  <a href={href}>
    <div class="relative w-full aspect-square overflow-hidden">
      <Image
        src={imagePath}
        alt={imageAlt}
        inferSize
        class={`w-full h-full ${objectFit} p-3`}
      />
    </div>
    <div class="mt-3 pb-3 px-3">
      <h1 class="font-literata text-lg uppercase text-primary tracking-wide font-semibold mb-1">
        {heading}
      </h1>
      <p class="">{text}</p>
    </div>
  </a>
</div>
