---
import { Image } from 'astro:assets';

const {
  title,
  subtitle,
  link,
  icon,
  iconName = '',
  iconSize = 'medium',
  techList = [],
} = Astro.props;

const iconClass =
  iconSize === 'larger' ? 'icon-larger' : iconSize === 'large' ? 'icon-large' : 'icon-medium';

// Function to get icon path - using public directory
const getIconPath = (iconName: string) => {
  if (!iconName) return null;
  return `/svg/${iconName}.svg`;
};
---

<div class="container mx-auto md:w-[50rem] text-md md:text-xl w-full">
  <div class="text-pretty leading-8 flex items-center justify-between">
    <div>
      <a href={link}>
        <h1 class="text-3xl md:text-4xl font-bebas font-semibold tracking-[2px] md:tracking-[5px] text-left">
          {title}
        </h1>
        <p class="font-semibold text-secondary leading-5 md:leading-8 text-left my-3">
          {subtitle}
        </p>
      </a>
    </div>
    {
      icon ? (
        <div class="hidden md:block w-24 h-24 box-border">
          <Image src={icon} alt={title} class={`image-${iconSize}`} />
        </div>
      ) : iconName ? (
        <div class="hidden md:block w-24 h-24 box-border">
          <img src={getIconPath(iconName)} alt={title} class={iconClass} />
        </div>
      ) : null
    }
  </div>

  <div class="flex-1 box-border">
    <slot name="description" />
  </div>

  {
    techList.length > 0 && (
      <p class="flex text-tertiary  font-semibold mt-3 justify-center tracking-wider text-lg">
        {techList.join(' • ')}
      </p>
    )
  }
</div>

<!-- Horizontal Ruler -->
<div class="flex justify-center my-10">
  <hr class="w-1/2 border-gray-400" />
</div>
<style>
  .icon-medium,
  .image-medium {
    width: 4rem;
    height: 4rem;
  }

  .icon-large,
  .image-large {
    width: 4.8rem;
    height: 4.8rem;
  }

  .icon-larger,
  .image-larger {
    width: auto;
    height: 8rem;
  }
</style>
