---
import Layout from '../../layouts/Layout.astro';
import "../../styles/global.css";
import "../../styles/eco_footprint.css";
---

<Layout>

    <main id="main-content"
        class="container mx-auto flex flex-col justify-center items-center mt-8 min-h-screen font-literata  prose prose-stone prose-lg md:prose-xl text-pretty leading-8 md:leading-10 dark:prose-invert">

        <div id="logistic-map" class="scroll-mt-10 md:-scroll-mt-1 z-0">
            <h2 class="mt-8 md:mt-10 text-center font-semibold tracking-wider">Supply and Demand</h2>
            <p>This is arguably the most fundamental model in economics. And presumably anybody has a rough idea of how
                it works: If the price of a good rises, people buy less. And vice versa, when the price falls demand
                grows. Sellers see it the other way around, the higher the price, the more they want to produce and
                sell, less so if the price is low.</p>
            <p>This reasoning is reflected in the two curves for demand and supply. They represent the aggregated demand
                of all individual buyers and at a certain price and the aggregated supply of all sellers, respectively.
            </p>
            <p>Economist consider the relationships between supply, demand, and prices to be so universal that they
                declared them laws. </p>

            <details class="bg-gray-300 open:bg-amber-100 duration-300 my-3">
                <summary class="bg-inherit px-5 py-3 text-lg cursor-pointer">Laws of demand and supply</summary>
                <div class="bg-white px-5 py-3 border border-gray-300 text-lg font-light">
                    <p>The <strong>Law of Demand</strong> states: </p>
                    <blockquote>
                        <p>Other things being equal, when the price of a good rises, the quantity demanded of the good
                            falls, and when the price falls, the quantity demanded rises. </p>
                    </blockquote>
                    <p>and the <strong>Law of Supply</strong> says:</p>
                    <blockquote>
                        <p>Other things being equal, when&nbsp;the price of a good rises, the quantity supplied of the
                            good also rises, and when the price falls, the quantity supplied falls as well.</p>
                    </blockquote>
                </div>
            </details>

            <h3 class="mt-8 md:mt-10 text-left font-semibold tracking-wider">Dynamics of price and quantity</h3>

            <p>In the graph you can manipulate the price and see, with the aid of the gray lines, what quantity is
                demanded by buyers and the quantity supplied by sellers at this price. At the intersection of the two
                lines the quantity supplied equals the quantity demanded. This point is called the <em>equilibrium</em>
                with the corresponding equilibrium price and quantity.</p>

            <div id="chart-container" class="flex items-center">
                <div id="demand_and_supply_moves"></div>
                <div id="slider_container_moves" class="ml-4"></div>
            </div>

            <details class="bg-gray-300 open:bg-amber-100 duration-300 my-3">
                <summary class="bg-inherit px-5 py-3 text-lg cursor-pointer">How to read the graph</summary>
                <div class="bg-white px-5 py-3 border border-gray-300 text-lg font-light">
                    Demand: <br>
                    <ul>
                        <li>If the price is high, the quantity demanded is low.</li>
                        <li>If the price is low, the quantity demanded is high.</li>
                    </ul>
                    Supply: <br>
                    <ul>
                        <li>If the price is low, the quantity supplied is low.</li>
                        <li>If the price is high, the quantity supplied is high.</li>
                    </ul>
                </div>
            </details>

            <p>As soon as we move away from this mutually satisfactory point there is a discrepancy. In the case of high
                prices there are more goods supplied then demanded (surplus) and with low prices the quantity demanded
                is greater than quantity supplied (shortage). This gap is shown by the horizontal black line and the
                exemplary number shows the absolute discrepancy. Where a green number signifies a shortage and red
                number a surplus. </p>
            <p>The model suggests that anything else than the equilibrium is inefficient and that the market forces will
                steer demand and supply towards the equilibrium. Under the customary neoclassical assumptions which
                we'll discuss further down, the differences of demand and supply are settled as follows.</p>
            <p>In case of a <em>surplus</em>, suppliers are unable to sell all they want at the going price and respond
                by cutting their prices. Falling prices, in turn, increase the quantity demanded and decrease the
                quantity supplied. </p>
            <p>When a <em>shortage</em> occurs, buyers are sort of desperate to get the goods, and suppliers can respond
                by raising their prices without losing sales. Higher prices dampen demand and boost supply until supply
                and demand met in the equilibrium again.</p>
            <p>Thus, if we start at a high or low price, collective actions of market participants pushes the price and
                quantity towards the equilibrium. Again, economist think of this dynamic as so pervasive that they
                coined it the <em>Law of supply and demand</em>. </p>
            <h3 class="mt-8 md:mt-10 text-left font-semibold tracking-wider">Shifts in supply and demand</h3>
            <p>The above analysis was conducted under the assumption of fixed demand and supply curves. Changes in price
                led to reactions by buyers and sellers that restored the equilibrium price and quantity. But markets
                often encounter <i>shocks</i> that change supply or demand regardless of prices. In contrast to a change
                of the “quantity demanded” or the “quantity supplied” due to the price.</p>
            <p>The electricity market is a case in point. When demand of electricity rises significantly and somewhat
                unexpected, for example in the case of a surge of crypto mining, the usual antagonistic price hike has
                no balancing effect. Demand stays high despite the increase in price. This is shown in the model as a
                <i>right-shift of the demand curve</i>.
            </p>

            <!-- Shifts  -->
            <div id="chart-container" class="flex flex-col items-center justify-center">
                <div id="demand_and_supply_shifts"></div>
                <div class="flex gap-32">
                    <div>$-$</div>
                    <div>$+$</div>
                </div>
                <div class="grid grid-cols-3 items-center">
                    <label class="font-work text-blue-700">Demand Shift</label>
                    <input type="range" id="demand_slider" class="grid-span-2" min="50" max="150" value="100">
                </div>
                <div class="grid grid-cols-3 items-center">
                    <label class="font-work text-red-500">Supply Shift</label>
                    <input type="range" id="supply_slider" class="grid-span-2" min="-50" max="50" value="0">
                </div>
            </div>

            <p>Economic downturns can cause an overall slump in energy demand at all prices levels, depicted by a
                <i>left-shift of the demand curve</i>.
            </p>
            <p>The supply curve is shifted by unforeseen events that boost supply, like a sudden surge in renewable
                energy pouring in the electrical grid, causing a <i>right-shift of the supply curve</i>. </p>
            <p>When the wind suddenly stops blowing and the renewable energy goes away as unexpected as it came, the
                supply drops whatever the price may have been. The <i>supply curve shifts left</i>. </p>
            <p>Renewable energy coming and going abruptly and the fact that sudden surges of energy, which endanger the
                grids, have to be disposed of, can lead to negative energy prices in times of high supply. With better
                weather forecasting, energy storage and market mechanism these fluctuations can be managed but supply
                and demand remain volatile in the energy sector, shifting the curves back and forth.</p>
            <p>Other shifts may stay, like a growing energy demand due to digitization and electric vehicles. With a
                higher demand and fixed supply in the short term, the price increases. With time investments in power
                plants will cater the grown demand and deflate the price (right-shift of supply curve).</p>

            <h3 class="mt-8 md:mt-10 text-left font-semibold tracking-wider">Supply and demand analysis</h3>

            <p>To use the model for a market analysis, ask yourself if any change is due to the price or despite the
                current price. Movements along the curves show the adaption of supply and demand to the price and both
                eventually meet in a constant equilibrium. A shift of the curves represent fundamental changes in supply
                and demand, that lead to a new equilibrium. When we analyze shifts, we skip the short-term adaptions to
                the new equilibrium and only consider the new equilibrium itself.</p>
            <p>When quantity supplied $q_S$ equals the quantity demanded $q_D$ at the current price $p$, the market is
                in an equilibrium.<br /> $$\text{Equilibrium}: \qquad q_S(p^{*})=q_D(p^{*})$$ where: <br />
            <p>$\text{Equilibrium price}: \quad p^{*}$</p>
            <p>$\text{Equilibrium quantity}: \quad q^{*}=q_S(p^{*})=q_D(p^{*})$</p>
            <p>If the market is not in an equilibrium, there’s is either a shortage or a surplus. In case of a shortage,
                buyers demand more than is supplied at the current price. According to the laws of demand and supply a
                price increase would dampen demand and incentivize supply thereby restoring the equilibrium:</p>
            <p> $$\text{Shortage}: \quad q_D(p) &gt; q_S(p)\quad | \quad p &lt; p^{*}\quad | \quad p \uparrow \, \Rightarrow
                p^{*}$$ If there’s a surplus, the price falls, whereby demand grows and supply goes back, both meet in
                the equilibrium: $$\text{Surplus}: \quad q_D(p)&lt;q_S(p)\quad | \quad p&gt;p^{*} \quad | \quad p
                \downarrow \, \Rightarrow p^{*}$$ The above are short-term movements along <em>fixed curves</em>, with a
                constant equilibrium where all deviations from the equilibrium are caused and can be straightened out by
                <em>price adjustments</em>.
            </p>
            <p>Shifts of the curves represent long-term changes of demand or supply. The shift of a curve brings along a
                <em>new equilibrium</em> with new a equilibrium price and quantity.
            </p>
            <p>For example demand can shift when a good becomes trendy (right-shift) or falls out of vouge (left-shift).
                $$\text{Grown Demand (right-shift):} \quad q_{old}^{*}&lt;q_{new}^{*}\quad | \quad
                p_{old}^{*}&lt;p_{new}^{*}$$ $$\text{Reduced Demand (left-shift):} \quad q_{old}^{*}&gt;q_{new}^{*}\quad
                | \quad p_{old}^{*}>p_{new}^{*}$$ </p>

            <p>Supply may shift when input prices of a good fall or rise, entailing more or less production.
                $$\text{Grown Supply (right-shift):} \quad q_{old}^{*}&lt;q_{new}^{*}\quad | \quad
                p_{old}^{*}&lt;p_{new}^{*}$$
                $$\text{Reduced Supply (left-shift):} \quad q_{old}^{*}&lt;q_{new}^{*} \quad | \quad
                p_{old}^{*}&lt;p_{new}^{*}$$
            </p>

            <h3 class="mt-8 md:mt-10 text-left font-semibold tracking-wider">Neoclassical assumptions</h3>

            <p>The model is in fact the centerpiece of neoclassical economics, the dominant school of economic thought
                since the 1950s. And it would be remiss, not to talk about the bold assumptions the neoclassical theory
                summons, to prop up the model.</p>
            <p>Price taking is part of the <em>competitive market assumption</em>. A competitive market has two
                features. First that buyers and sellers are so numerous that no single buyer or seller has any influence
                over the market price, they just have to accept it. And secondly, that goods offered are all the same so
                that price is the only variable in the competition.</p>
            <p>Furthermore, the model assumes the good in question is a <em>normal good</em>. Normal goods experience an
                increase in demand with a rise in income. Most goods are normal, like energy, but you can contrast them
                with <em>inferior goods</em>, which are given up when incomes rises. An example of an inferior good are
                bus rides. As your income rises, you are less likely to take the bus and rather take a cab or buy a car.
            </p>
            <p>The above is buttressed by the usual neoclassical assumptions of rational, utility-maximizing, and
                perfectly informed individuals. Those may be the most questionable assumptions of the lot. Scientists
                have demonstrated how people often act with bounded rationality or irrationality, and have a host of <a
                    href="https://en.wikipedia.org/wiki/List_of_cognitive_biases">cognitive biases</a>. Utility
                maximization is highly useful in quantifying choices and while often equated with selfishness, utility
                can encompass the common good and altruism. But the concept hinges on rationality and is fraught with
                its problems. As to perfect information, an approximation can be claimed for some markets and firms, but
                it's still unrealistic, much more so for individuals with all kinds of temporal and cognitive
                constraints.</p>
            <p>As is the case for most simple models, we have examined the mechanics of price and quantity while fixing
                every other variable. This is normally indicated by the Latin phrase <em>ceteris paribus</em>, meaning
                <em>all else being equal</em>.
            </p>
    </main>

    <script type="module">
        // import { EcoChart } from '/src/scripts/eco_footprint.js';
        // document.addEventListener('DOMContentLoaded', () => {
        //     EcoChart("#eco_graph", "/data/footprint.csv");
        // });
    </script>

    <!-- DS Curves  -->
    <script type="module">
        import { DemandSupplyMoves, DemandSupplyShifts } from '/src/scripts/demand_and_supply.js';

        // Call the function with a container
        DemandSupplyMoves("#demand_and_supply_moves", "#slider_container_moves");
        DemandSupplyShifts("#demand_and_supply_shifts", "#demand_slider_container", "#supply_slider_container");
    </script>

    <script type="module">
        import { initKaTeX } from '/src/scripts/client-init.js';
        initKaTeX();
    </script>




</Layout>